n8n/workflows/github-pr-review.json
{
  "name": "GitHub PR Review",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-pr",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "github-pr"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/webhooks/github",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.N8N_INTERNAL_TOKEN }}"
            },
            {
              "name": "X-GitHub-Event",
              "value": "={{ $json.headers['x-github-event'] }}"
            },
            {
              "name": "X-GitHub-Delivery",
              "value": "={{ $json.headers['x-github-delivery'] + '-n8n-' + Date.now() }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000010",
      "name": "Forward to Original",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-action",
              "leftValue": "={{ $('Webhook').item.json.body.action }}",
              "rightValue": "^(opened|reopened|synchronize)$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Filter Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "field-pr-id",
              "name": "pr_id",
              "value": "={{ $('Webhook').item.json.body.pull_request.number }}",
              "type": "string"
            },
            {
              "id": "field-title",
              "name": "title",
              "value": "={{ $('Webhook').item.json.body.pull_request.title }}",
              "type": "string"
            },
            {
              "id": "field-description",
              "name": "description",
              "value": "={{ $('Webhook').item.json.body.pull_request.body }}",
              "type": "string"
            },
            {
              "id": "field-repo-url",
              "name": "repo_url",
              "value": "={{ $('Webhook').item.json.body.repository.html_url }}",
              "type": "string"
            },
            {
              "id": "field-branch",
              "name": "branch",
              "value": "={{ $('Webhook').item.json.body.pull_request.head.ref }}",
              "type": "string"
            },
            {
              "id": "field-author-token",
              "name": "author_token",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [910, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/webhooks/github",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.N8N_INTERNAL_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "pr_id",
              "value": "={{ $json.pr_id }}"
            },
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "repo_url",
              "value": "={{ $json.repo_url }}"
            },
            {
              "name": "branch",
              "value": "={{ $json.branch }}"
            },
            {
              "name": "author_token",
              "value": "={{ $json.author_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Call Symfony API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"accepted\" }",
        "options": {
          "responseCode": 202
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Respond Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ignored\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "Respond Ignored",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Forward to Original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Original": {
      "main": [
        [
          {
            "node": "Filter Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Action": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Ignored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Call Symfony API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Symfony API": {
      "main": [
        [
          {
            "node": "Respond Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2",
  "meta": {
    "instanceId": "autoPMR"
  },
  "tags": []
}
